title {
	font-family: Courier New, Serif;
}

body {
	color:black;
	background-color: lightblue;
	font-family: Courier New;
}

#title {
	text-align: center;
}


#button {
	text-align: right;
}

#logintext {
	text-align: left;
}

#sendingText {
	display: none;
	visibility: hidden;
	width:350px;
	height:50px;
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: #444;
	color: silver;
	text-align: center;
	font-weight:bold;
}

.players {
	display: inline;
	float: left;
	margin-right: 65px;
	margin-top: 70px;
	margin-bottom: 70px;
}


#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:960px;
}

#header {
	text-align: right;
}
